:root {
    --vermelho: #e50914;
    --preta: #141414;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/


body {
    background: url(../img/drive\ Capa\ 1.jpeg) no-repeat;
    background-color: var(--preta);
    background-size: contain;
    font-family: Helvetica, sans-serif;
    color: #fff;
    z-index: 0;
    /* overflow: hidden; */
    width: 100%;
    display: block;
    
    
}

header .container {
    background-color: transparent;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7) 10%, rgba(0,0,0,0));
    padding: 0 15px;
    height: 68px;
    z-index: 2;
}

header .logo {
    height: 35px;
    margin: 5px 20px 0 30px;
}

header .top-navigation-tab {
    display: flex;
    margin-top: 2.5px;
    
}

.top-navigation-tab ul {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2%;
    font-size: 1.2rem;
    margin-left: 10px; 
}

.navigation-tab {
    position: relative;
    display: flex;
    padding: 0 10px;

}

.top-navigation-tab a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.top-navigation-tab a:hover {
    color: #e5e5e5;
    transition: .3s;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 4%;
    top: 2%;
    justify-content: flex-end;
    
    
}

.search-btn, .notification-btn, .profile-img {
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}



/*main-movie*/

.main-movie {
    font-size: 16px;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .title {
    font-size: 40px;
    font-family: 'Tourney';
    margin-top: 15%;
    margin-left: 15px;
}

.main-movie .description {
    margin-bottom: 40px;
    width: 50%;
    /* text-align: justify; */
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
}


.botao {
    background-color: white;
    color: #141414;
    border: none;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s ease all;
}

.botao:hover {
    opacity: .5;
}



.botao span {
    margin-right: 8px;
}

#btn-inf {
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
}

#btn-inf:hover {
    background-color: rgba(109, 109, 110, 0.9);
    color: #fff;
}

.main-movie .container {
    width: 70%;
    margin-left: 30px;
}


/*Carousel*/

.movies {
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.50));
    height: 200px; 
    overflow: hidden; 
}

#movies {
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.carousel-row {
    transition: 450ms transform;
    display: flex;
    width: 100%;
    white-space: nowrap;   
}

.cover{
    transition: 450ms transform;
    cursor: pointer;
}

.img-movie, .img-serie {
    width: 250px;
    height: 120px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.carousel-row:hover {
    transform: translate3d(-40px, 0px, 0px);
}
.carousel-row:hover ~ .carousel-row {
    transform: translate3d(80px, 0, 0);
}


.cover:hover {
    transform: scale(1.5);
}

.cover:hover ~ .cover {
    transform: translate3d(80px, 0px, 0px);
}

.series {
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)); 
    height: 250px; 
    overflow: hidden; 
    padding-top: 20px;
}

#series-bar {
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 25px;
}



